* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    width: min-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 auto;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000050;
    z-index: 9;
}

.modal .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #779556;
    padding: 24px 50px;
    border-radius: 10px;
}

.modal .content .title {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.modal .content p {
    font-size: 24px;
    color: #fff;
}


