.green {
    background-color: #779556;
}

.green.active {
    cursor: pointer;
    background-color: #B9CA43;
}

.white {
    background-color: #EBECD0;
}

.white.active {
    cursor: pointer;
    background-color: #F5F682;
}

.cell {
    width: 100px;
    height: 100px;
}

@media (max-width: 900px) {
    .cell {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 700px) {
    .cell {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 580px) {
    .cell {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 500px) {
    .cell {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 420px) {
    .cell {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 320px) {
    .cell {
        width: 35px;
        height: 35px;
    }
}



.cell {
    img {
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
}
